//
// override.scss
// Use this to write your custom SCSS
//

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

@font-face {
  font-family: "Visitor";
  src: url("../fonts/visitor1.ttf");
}

body{
  font-family: 'Visitor', cursive;
  //font-family: 'Press Start 2P', cursive;
  //font-family: 'VT323', monospace;
  //font-family: 'Silkscreen', cursive;
}

.nes-btn, .nes-input, .nes-textarea, .nes-select select, .nes-progress, .nes-balloon{
  border-image-repeat: stretch !important;
}

code{
  font-size: 10px;
}
