<main class="page-wrapper">
  <!-- Header-->
  <app-header id="top"></app-header>

  <!-- Hero-->


  <section class="container py-5 mt-5 mb-lg-3">
    <div class="row align-items-center mt-md-2 mt-lg-5">
    <h1 class="display-5 mb-4 me-lg-n5 text-lg-start text-center mb-4">Web3 Starter project</h1>
    <p>
      <kbd>Version 1.0.2</kbd>
    </p>
    <p>
      This project is web3 starter using angular 15 for internal usage. Using theme <a href="https://themeforest.net/item/finder-angular-13-directory-listings-template/37914803">Finder</a> and using finder's <a href="https://themes.themesbrand.com/finder/angular/components/typography.html">document</a>
      <br/>Author: <b>a3r0nz</b>
    </p>
      <h5>Features : </h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Connect metamask wallet
          <p class="fs-sm text-muted mt-2">This version only support metamask.</p>
        </li>
        <li class="list-group-item">
          Display connected wallet
          <p class="fs-sm text-muted mt-2">The connected wallet will be shown instead of connect wallet button</p>
        </li>
        <li class="list-group-item">
          Chain switcher
          <p class="fs-sm text-muted mt-2">You can config the support chains in utils/config.js file.</p>
        </li>
        <li class="list-group-item">
          Sample page
          <p class="fs-sm text-muted mt-2">A sample to show your token balances using services.</p>
        </li>
        <li class="list-group-item">
          Theme color changing
          <p class="fs-sm text-muted mt-2">
            You can config the colors like primary or secondary in assets/_variables.scss file. And if you want to custom the global scss you can use assets/_override.scss file
          </p>
        </li>
      </ul>
    </div>
  </section>








</main>
<!-- Footer-->
<app-footer></app-footer>
