<main class="page-wrapper">
  <!-- Header-->
  <app-header id="top"></app-header>

  <!-- Page header-->
  <section class="container my-5 pt-lg-5 pt-4 pb-lg-5">
    <!-- Breadcrumbs-->
    <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

    <div class="row gy-4">
      <div class="col-xl-12 col-md-12">
        <h1 class="mb-md-4 mb-3">About us</h1>
        <p class="mb-4 pb-md-2 fs-lg">
          We are your personal guide to unique experiences. We know the best places to see and events in any part of the
          world. Don't miss anything with our help!
        </p>
      </div>
    </div>
  </section>
</main>
<!-- Footer-->
<app-footer></app-footer>
