<ng-container *ngIf="!isLoading">
  <ng-container *ngIf="connected">
    <ng-content></ng-content>
  </ng-container>
  <ng-container *ngIf="!connected">
    <div class="text-center mt-5">
      <div class="image">
        <img src="assets/img/stages/empty.svg" />
      </div>
      <h3 class="text-muted mt-3">Please connect your wallet</h3>
      <p class="text-muted">Please connect your wallet to fetch data from blockchain to viewing this content</p>
      <div class="connect-wallet-btn mt-3">
        <app-connect-wallet-button></app-connect-wallet-button>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="isLoading">
  <div class="text-center mt-5">
    <app-spinner></app-spinner>
  </div>
</ng-container>
